.left{
	background: #032929;
	float: left;
	width: 100%;
	color: white;
}
.left img{
	border-radius: 50%;
	margin-top: 40px;
    margin-bottom: 30px;
}
ul{
	padding: 0px;
}
.left-content{
	margin-left: 10px;
	height: 1240px;
}
.left-content ul li{
	list-style: none;
	padding-bottom: 4px;
	 
}.heading{
	margin-bottom: 0px;
}
.dot{
	height: 15px;
	width: 15px;
	background-color: darkcyan;
	border-radius: 50%;
	display: inline-block;
}
.undot{
	height: 15px;
	width: 15px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
}
.hr{
	background-color: white;
	margin-top: 0px;}
.progress-bar{
	background-color: darkcyan;

}
.right{width: 100%;
	float: right;
}
.jumbotron hr{
	height: 2px;
	background-color: black;
}
 .hur{
	height: 1px;
	background-color: black;
}
.col p{
	font-weight: 400;
}
